<!DOCTYPE html>
<html>
    <head>
        <title>Yelp</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <!-- container for  banner and logo -->
        <div id="hero-container">
            <div id="logo-container">
                <img src="../images/yelp-logo.png">
            </div>
        </div>

        <!--container for main listing -->
        <div id="main-container">
            <div id="main-content">
                <div id="title-container">
                    <span class="title title-category">Ice Cream Shops</span>
                    <span id="divider"> | </span>
                    <span class="title title-location">Redwood City</span>
                </div>
                <div id="listing-container">
                    <% businesses.forEach(function(business) { %>
                        <div class="list-card">
                            <div class="list-image" style="background-image: url(<%= business.photos[0] %>)"></div>
                            <div class="list-info">
                                <div class="list-info-title" title="<%= business.name %>"><%= business.name %></div>
                                <div class="list-info-rating"><%= business.rating %></div>
                                <div class="list-info-address"><%= business.location.address1 %>, <%= business.location.city %></div>
                                <div class="list-info-review">
                                    <div class="review-user-name">
                                        <%= business.reviews[0].user.name %>
                                        <span class="rated">rated</span>
                                        <span class="review-user-rating"><%= business.reviews[0].rating %></span>
                                    </div>
                                    <div class="review-user-text">"<%= business.reviews[0].text %>"</div>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </body>
</html>
